<script lang="ts" setup>
import { reactive, ref } from 'vue';

const dynamicId = ref('MyID')
const titleClass = ref('blue')
const myClasses = reactive({
    blue: true,
    bold: true,
    underline: true
})
const myStyle = reactive({
    fontSize: '35pt',
    border: '2pt',
    borderStyle: 'solid'
})
myClasses.blue = false;
</script>

<template>
    <div :id = "dynamicId" :class="myClasses" :style="myStyle">
        {{ dynamicId }}
    </div>
</template>
<style scoped>
    .blue{
        color: blue;
    }
    .bold{
        font-weight: bold;
    }
    .underline{
        text-decoration: underline;
    }
</style>