<script lang="ts" setup>
import { reactive, ref, watch } from 'vue'

const count = ref(0)
function increment() {
  count.value++
}
const myClasses = reactive({
    blue: true,
    bold: true,
    underline: true
})
watch(count, function(newCount,oldCount){
  console.log(`count changed ${oldCount}-> ${newCount}`)
})
</script>

<template>
  <button @:click="increment()" :class="myClasses">count is :{{ count }}</button><br/>
  <pre>{{ myClasses }}</pre>{{ myClasses }}<br/>
  <button @click="myClasses.blue = !myClasses.blue">blue</button>
  <button @click="myClasses.bold = !myClasses.bold">bold</button>
  <button @click="myClasses.underline = !myClasses.underline">underline</button>
</template>

<style scoped>
.blue {
  color: blue;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
</style>
